<div class="description-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title" itemscope>
        <h2 data-aos="fade-left" data-aos-duration="2000" itemprop='name'>Paul Craven - Behavioural Economics Expert</h2>
        <p>I help clients enhance their communication, decision-making and sales skills, using behavioural economics and psychology. My favourite definition of Behavioural Economics is “how real people make real decisions in the real world.” We all make mental short-cuts. Our minds play tricks.</p>
        <p>I give over 50 talks a year around the world. These include keynote conference speeches and internal team training. My audiences and clients range from investors to doctors to lawyers to entrepreneurs.</p>
      </div>
      <div class="sparks-content">

       <ul>
        <h4>A brief history</h4>
         <li><p>1983 - 1986 <span></span>: Cambridge University</p></li>
         <li><p>1986 - 2003 <span></span>: Schroders</p></li>
         <li><p>2003 - 2007 <span></span>: PIMCO</p></li>
         <li><p>2007 - 2013 <span></span>: Goldman Sachs</p></li>
         <li><p>2014 - present : Paul Craven Partners Ltd</p></li>
       </ul>

     </div>
     <div class="bio text-center" itemscope>
      <p>Take a few seconds to look at this extraordinary illusion which is the basis of the logo for Paul Craven Partners Ltd</p>
      <%= image_tag("jastrow.gif", class: "jastrow", itemprop: 'image', alt: "jastrow gif") %>
    </div>
  </div>
</div>
</div>
