<div class="description-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title">
        <h2 data-aos="fade-left" data-aos-duration="2000">Paul Craven</h2>
        <p>I set up Paul Craven Partners Ltd in 2014 to help clients enhance their communication, decision-making and sales skills, using behavioural economics and psychology</p>
        <p>Last year I gave over 60 talks around the world, including internal team training and keynote conference speeches.</p>
        <p>My audiences and clients range from investors to doctors to lawyers to entrepreneurs.</p>
      </div>
      <div class="sparks-content">
       <ul>
         <li><p>1983 - 1986 <span></span>: Cambridge University</p></li>
         <li><p>1986 - 2003 <span></span>: Schroders</p></li>
         <li><p>2003 - 2007 <span></span>: PIMCO</p></li>
         <li><p>2007 - 2013 <span></span>: Goldman Sachs</p></li>
         <li><p>2014 - present : Paul Craven Partners Ltd</p></li>
       </ul>
       <div class="magic-image" style="background-image: url('<%= image_path "https://res.cloudinary.com/montycat/image/upload/v1531408974/paul-craven/themagiccircle-logo-RGB.png" %>');">
       </div>
     </div>
     <div class="bio text-center">
      <h2>Your mind plays tricks.</h2>
      <p>Take a few seconds to look at this extraordinary illusion which is the basis of the logo for Paul Craven Partners Ltd</p>
      <%= image_tag("jastrow.gif", class: "jastrow") %>
    </div>
  </div>
</div>
</div>
<!--  <div class="button-div">
   <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Click here to read more
  </button>
</div>
<div class="collapse" id="collapseExample">

</div>
</div> -->
