<div id="myGroup" class="description-wrapper">
  <div id="coaching" class="container-fluid">
    <div class="row justify-content-center">
      <div class="about-title">
        <h2 data-aos="fade-left" data-aos-duration="2000" id="talks">The Masterclass - Performance enhancement through behavioural insights</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <div class="sparks-content text-center">
            <p>The Masterclass teaches the rare application of behavioural methodology to the world of business, improving and enhancing your sales and communication techniques with prospects and clients.</p>
            <!-- <p>Every top sports team use coaches, as does nearly every top-class performer, whether in fields as wide-ranging as chess, classical music or the performing arts. Why is coaching so encouraged and welcomed in other performance-related professions, yet rare in business? Thankfully this outdated view is changing as corporate leaders recognise that their skills can indeed be enhanced.</p> -->
            <div class="masterclass-detail">
              <div>
                <p>The Masterclass is based upon a combination of three things: my 30 years of sales and marketing experience with Schroders, PIMCO and Goldman Sachs (successes and mistakes!), my love of behavioural economics and psychology, as well as my interest in helping take ideas and people from good to great.</p>
              </div>
              <div>
                <p>My ‘value-added’ comes in improving and enhancing your team's spoken and written sales communication with prospects and clients.</p>
              </div>
              <div>
                <p>Every Masterclass is bespoke to the client but there are three areas on which I typically focus, from a behavioural and psychological perspective.</p>
                <ol>
                  <li>
                    <p>Improving Sales Skills</p>
                  </li>
                  <li>
                    <p>Enhancing Presentations</p>
                  </li>
                  <li>
                    <p>Building Client Relationships</p>
                  </li>
                </ol>
              </div>
              <p>Whereas Masterclasses are suitable for small or large teams, I also offer training for individuals. My 1 to 1 personalised coaching course is designed to improve your confidence and skill relating to presentations and public speaking. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   <div>
    <ul class="nav nav-tabs talk-tabs" role="tablist">
      <li role="presentation" class="talk-tab"><a href="#masterclass2" aria-controls="masterclass2" role="tab" data-toggle="collapse" aria-expanded="false">The Masterclass</a></li> -->
  <!-- <li role="presentation" class="talk-tab"><a href="#intro" aria-controls="intro" role="tab" data-toggle="collapse" aria-expanded="false">1 to 1</a></li> -->
  <!--     </ul>
    <div class="container-fluid">
      <div class="row">
        <div class="tab-content col-xs-12 col-sm-8 col-sm-offset-2">
          <div role="tabpanel" class="collapse" id="masterclass2">
            <div class="masterclass-title text-center">
              <h3>The Masterclass (Full Day)</h3>
              <h4>Improving and enhancing your sales and communication techniques with prospects and clients</h4>
            </div>
            <div class="masterclass-detail">
              <div>
                <p>The Masterclass is based upon a combination of three things: my 30 years of sales and marketing experience with Schroders, PIMCO and Goldman Sachs (successes and mistakes!), my love of behavioural economics and psychology, as well as my interest in helping take ideas and people from good to great.</p>
              </div>
              <div>
                <p>My ‘value-added’ comes in improving and enhancing your team's spoken and written sales communication with prospects and clients.</p>
              </div>
              <div>
                <p>Every Masterclass is bespoke to the client but there are three areas on which I typically focus, from a behavioural and psychological perspective.</p>
                <ol>
                  <li><p>Improving Sales Skills</p></li>
                  <li><p>Enhancing Presentations</p></li>
                  <li><p>Building Client Relationships</p></li>
                </ol>
              </div>
              <p>Whereas Masterclasses are suitable for small or large teams, I also offer training for individuals. My 1 to 1 personalised coaching course is designed to improve your confidence and skill relating to presentations and public speaking. </p>
            </div>
          </div> -->
  <!-- <div role="tabpanel" class="collapse" id="intro">
          <div class="masterclass-title text-center">
            <h3>1 to 1</h3>
            <p>I offer 1 to 1 personalised coaching, to improve your confidence and skill, relating to presentations and public speaking.</p>
          </div>
        </div>
      </div> -->
  <!--     </div>
  </div>
</div> -->
  <div class="talk-photo" style="background-image: url(<%= image_url("paul-1.jpg") %>)">
  </div>
</div>
