<div class="description-wrapper" id="coaching">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title">
        <h2 data-aos="flip-left" data-aos-duration="2000" id="talks">Specialist Coaching</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <div class="sparks-content text-center">
           <p data-aos="flip-up" data-aos-duration="2000">Every top sportsman and sportswoman uses coaches, as does nearly every top-class performer, whether in fields as wide-ranging as chess, classical music or the performing arts. Why is coaching so encouraged and welcomed in other performance-related professions, yet in asset management to ask for help is often seen as a sign of weakness? Thankfully this outdated view is changing as investors recognise that skill can be enhanced.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div>
  <ul class="nav nav-tabs talk-tabs" role="tablist">
    <li role="presentation" class="talk-tab"><a href="#intro" aria-controls="intro" role="tab" data-toggle="collapse" aria-expanded="false">The Intro</a></li>
    <li role="presentation" class="talk-tab"><a href="#masterclass2" aria-controls="masterclass2" role="tab" data-toggle="collapse" aria-expanded="false">The Masterclass</a></li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="tab-content talk-content col-xs-12 col-sm-8 col-sm-offset-2">
        <div role="tabpanel" class="collapse" id="intro">
          <div class="masterclass-title text-center">
          <h3>The Intro</h3>
          <p>Spend an hour in your offices with one or more of your executives, including CIOs, HR heads or a group of investors, to discuss the benefits of our specialist coaching for asset managers.</p>
        </div>
        </div>
        <div role="tabpanel" class="collapse" id="masterclass2">
          <div class="masterclass-title text-center">
            <h3>The Masterclass (2.5/3 hours) – typical agenda:</h3>
          </div>
          <div class="masterclass-detail">
            <div>
              <h6>Hour 1: Behavioural Finance and the Human Brain</h6>
<!--               <p>What is behavioural finance?
                Background and history: from the ancient Greeks to Adam Smith to Daniel Kahneman
                Understanding the human mind – the Elephant and the Rider concept
                System 1 vs. System 2 thinking
                The concept of biases and heuristics
                The major biases in investment – social, decison-making, probability and memory
              Psychology experiments with the audience</p> -->
            </div>
            <div>
              <h6>Hour 2: Behavioural Finance and Investment Markets</h6>
<!--               <p>Examples of biases in Investment Markets – equities, fixed income and currency
                Financial Market bubbles in history
                The 2007-09 Credit Bubble and Bust – the insights of behavioural finance
                Famous psychology experiments and what they teach us about ourselves
                Avoiding the lazy consensus
                Personality and biases
                The wisdom of crowds and the ‘nudge’ concept
                Behavioural Finance and the Regulators
                The inherent biases in market capitalisation indices
                Different approaches e.g. The Shiller CAPE valuation and other measures of ‘value’
                Fixed income applications
                Game theory
                Avoiding ‘Groupthink’
              More experiments with the audience</p> -->
            </div>
            <div>
              <h6>Hour 3: What can we do about our personal investment biases?</h6>
<!--               <p>Why is investment the only performance based industry where participants don’t ask for help?
                How coaching can help investors – performance and other benefits
                Improved awareness of personal investment rules
                Defining skill – what it is and what it isn’t
                Understanding the luck vs. skill continuum
                Emotion and discipline
                Outcome versus Process – how the industry confuses the two
                The Loser’s Game
                What’s my investment edge?
                Warren Buffett’s ‘Circle of Competence’ concept
                The importance of deliberate practice for investors
                Using technology
              Consequences of investment coaching: self-awareness, discipline, communication and culture</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>







