<div class="description-wrapper" id="coaching">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title">
        <h2 data-aos="fade-left" data-aos-duration="2000" id="talks">The Masterclass</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <div class="sparks-content text-center">
           <p>Every top sportsman and sportswoman uses coaches, as does nearly every top-class performer, whether in fields as wide-ranging as chess, classical music or the performing arts. Why is coaching so encouraged and welcomed in other performance-related professions? Thankfully this outdated view is changing as business leaders recognise that their skills can indeed be enhanced.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div>
  <ul class="nav nav-tabs talk-tabs" role="tablist">
    <li role="presentation" class="talk-tab"><a href="#masterclass2" aria-controls="masterclass2" role="tab" data-toggle="collapse" aria-expanded="false">The Masterclass</a></li>
    <li role="presentation" class="talk-tab"><a href="#intro" aria-controls="intro" role="tab" data-toggle="collapse" aria-expanded="false">1 to 1</a></li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="tab-content col-xs-12 col-sm-8 col-sm-offset-2">
        <div role="tabpanel" class="collapse" id="masterclass2">
          <div class="masterclass-title text-center">
            <h3>The Masterclass (1/2 day)</h3>
            <h4>Improving and enhancing your sales and communication techniques with prospects and clients</h4>
          </div>
          <div class="masterclass-detail">
            <div>
              <h6>The Masterclass is based upon a combination of three things: my 30 years of sales and marketing experience with Schroders, PIMCO and Goldman Sachs (successes and mistakes!), my love of behavioural economics and psychology, as well as my interest in helping take ideas and people from good to great.</h6>
            </div>
            <div>
              <h6>My ‘value-added’ comes in improving and enhancing your team's spoken and written sales communication with prospects and clients.</h6>
            </div>
            <div>
              <h6>Every Masterclass is bespoke to the client but there are three areas on which I typically focus, from a behavioural and psychological perspective.</h6>
              <ol>
                <li><h6>Improving Sales Skills</h6></li>
                <li><h6>Enhancing Presentations</h6></li>
                <li><h6>Building Client Relationships</h6></li>
              </ol>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="collapse" id="intro">
          <div class="masterclass-title text-center">
            <h3>1 to 1</h3>
            <p>I offer 1 to 1 personalised coaching, to improve your confidence and skill, relating to presentations and public speaking.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>







