<!-- Modal -->
<div class="modal fade" id="dontModal" tabindex="-1" role="dialog" aria-labelledby="dontModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dontModalLabel">Thank you!</h4>
      </div>
      <div class="modal-body">
        <p>Thank you!</p>
        <p>I am fascinated by human behaviour - in a similar experiment only 4% of people pressed the red button.</p>
        <p>You clearly have a curious mind! Please have a look around my website.</p>
      </div>
    </div>
  </div>
</div>
