<div class="description-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title">
        <h2 data-aos="flip-left" data-aos-duration="2000">My Talks</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <div class="sparks-content text-center">
           <p data-aos="flip-up" data-aos-duration="2000">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis deleniti sed, facere soluta! Enim itaque perspiciatis nostrum ipsam, ipsa repudiandae eligendi porro, quisquam inventore ipsum repellendus nemo quia eveniet at.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div>
  <ul class="nav nav-tabs talk-tabs" role="tablist">
    <li role="presentation" class="active talk-tab"><a href="#thetalk" aria-controls="thetalk" role="tab" data-toggle="tab">The Talk</a></li>
    <li role="presentation" class="talk-tab"><a href="#twenty20" aria-controls="twenty20" role="tab" data-toggle="tab">The Twenty20</a></li>
    <li role="presentation" class="talk-tab"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation" class="talk-tab"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="tab-content talk-content col-xs-12 col-sm-8 col-sm-offset-2">
        <div role="tabpanel" class="tab-pane fade in talk-pane active" id="thetalk">
          <h3>A: The Talk (40 minutes to 1 hour) – what it covers:</h3>
          <ul>
            <li><p>
              How the human brain is hardwired for perfectly good evolutionary reasons to use ‘System 1’ thinking (fast, intuitive, unconscious) in preference to ‘System 2’ (slow, cognitive, conscious), sometimes leading to biases and irrationality.
            </p></li>
            <li><p>Examples, in all aspects of our lives, including investment, of the 150+ biases and mental short cuts.
            What can we do about these biases? And equally importantly, how can we turn them to our advantage in our business and personal lives?</p></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade talk-pane" id="twenty20">
          <h3>A: The Talk (40 minutes to 1 hour) – what it covers:</h3>
          <ul>
            <li><p>
              How the human brain is hardwired for perfectly good evolutionary reasons to use ‘System 1’ thinking (fast, intuitive, unconscious) in preference to ‘System 2’ (slow, cognitive, conscious), sometimes leading to biases and irrationality.
            </p></li>
            <li><p>Examples, in all aspects of our lives, including investment, of the 150+ biases and mental short cuts.
            What can we do about these biases? And equally importantly, how can we turn them to our advantage in our business and personal lives?</p></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade talk-pane" id="messages">2</div>
        <div role="tabpanel" class="tab-pane fade talk-pane" id="settings">3</div>
      </div>
    </div>
  </div>
</div>
</div>
