<div class="description-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="about-title">
        <h2 data-aos="flip-left" data-aos-duration="2000" id="talks">The Talks</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <div class="sparks-content text-center">
           <p data-aos="flip-up" data-aos-duration="2000">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis deleniti sed, facere soluta! Enim itaque perspiciatis nostrum ipsam, ipsa repudiandae eligendi porro, quisquam inventore ipsum repellendus nemo quia eveniet at.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div>
  <ul class="nav nav-tabs talk-tabs" role="tablist">
    <li role="presentation" class="active talk-tab"><a href="#thetalk" aria-controls="thetalk" role="tab" data-toggle="tab">The Talk</a></li>
    <li role="presentation" class="talk-tab"><a href="#twenty20" aria-controls="twenty20" role="tab" data-toggle="tab">The Twenty20</a></li>
    <li role="presentation" class="talk-tab"><a href="#masterclass" aria-controls="masterclass" role="tab" data-toggle="tab">The Masterclass</a></li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="tab-content talk-content col-xs-12 col-sm-8 col-sm-offset-2">
        <div role="tabpanel" class="tab-pane fade in talk-pane active" id="thetalk">
          <h3>A: The Talk (40 minutes to 1 hour) – what it covers:</h3>
          <ul>
            <li><p>
              How the human brain is hardwired for perfectly good evolutionary reasons to use ‘System 1’ thinking (fast, intuitive, unconscious) in preference to ‘System 2’ (slow, cognitive, conscious), sometimes leading to biases and irrationality.
            </p></li>
            <li><p>Examples, in all aspects of our lives, including investment, of the 150+ biases and mental short cuts.
            What can we do about these biases? And equally importantly, how can we turn them to our advantage in our business and personal lives?</p></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade talk-pane" id="twenty20">
          <h3>‘The Twenty20’ (2 x 20 minute slots) – what it covers:</h3>
          <h3>After-Dinner Speaking</h3>
          <p>Designed especially for lunch or evening company or client dinner functions, the format of this is very flexible – the talk can be given in one or two slots, and tailored in terms of time and content, according to the wishes of the<br>Below is an example of the ‘Twenty20 format, but it would be equally possible to do a 40 minute pre-dinner slot and a 15 minute post dinner talk.</p>
          <ul>
            <li><p>
              The first [pre-meal] slot is in the style of a TED talk called ‘From Biases to Bubbles.’ The scene is set with an introduction to Behavioural Economics, highlighting its importance and relevance in the investment world. All investors have personal biases and examples of these are combined with recent and historic examples from financial markets, alongside practical advice on how to avoid the common behavioural mistakes.
            </p></li>
            <p>This part of the talk can be done with or without slides depending on the venue.</p>
            <li><p>The second [post-meal] slot is more relaxed, in that I take some of the themes from Behavioural Economics and Neuroscience, and perform some interactive, psychological experiments with the audience, drawing upon my experience as a member of the exclusive Magic Circle. This reinforces the serious underlying point, that people are not always as rational and conscious in their decision making as they would like to think! The audience will learn some psychological tricks to show their friends and family.</p></li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade talk-pane" id="masterclass">
          <h3>The Masterclass (3/4 hours)</h3>
          <h3>Investment Sales Team options (suitable for internal training and coaching)</h3>
          <p>For  institutional investment firms (asset managers, hedge funds, investment banks etc.) and High Net Worth individuals, I offer a longer, integrated specialist  module as part of an interactive <strong>Masterclass</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
