<div class="testimonial-wrapper" id="testimonial">
  <div class="container-fluid">
    <div class="row">
      <div class="testimonial-title">
        <h2 data-aos="fade-left" data-aos-duration="2000">My Clients Say</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="testimonial-container">
          <div class="testimonial-carousel">
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>The best psychologists are magicians. Normally you might demonstrate an effect on 8% of people and regard it as significant. In magic, it has to be 100% every time. Paul demonstrates this – with that all-too-rare mixture of erudition, wit and practical ideas.</h4>
               </div>
               <div class="author text-center">
                <p>Rory Sutherland</p>
                <p>Vice Chairman, Ogilvy</p>
               </div>
            </div>
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Paul has presented on numerous occasions for us to audiences made up of the UK’s leading wealth and investment managers, and the feedback has been excellent – and he had them captivated.</h4>
              </div>
              <div class="author text-center">
                <p>Natalie Fast, Channel Head</p>
                <p>Wealth Manager, Citywire Holdings</p>
              </div>
            </div>
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Paul’s work for the European Institutional Investor Institute was very well received by our members. He has the rare ability to both entertain and educate, making the audience question previously held assumptions.</h4>
              </div>
              <div class="author text-center">
                <p>Alex Beveridge, Director</p>
                <p>European Investor Institute</p>
              </div>
            </div>
            <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Paul’s presentation to a pension lawyer audience, about how we and our clients make decisions, was interesting, illuminating and funny. Behavioural economics has implications much wider than finance.</h4>
              </div>
              <div class="author text-center">
                <p>Anna Rogers</p>
                <p>Partner, Mayer Brown International LLP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="client-logos">

  </div>
</div>
