<div class="video-wrapper" id="videos">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="video-title">
        <h2 data-aos="fade-left" data-aos-duration="2000">In Action</h2>
      </div>
      <div class="vid-resp col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <div class="video-container">
          <div class="video-carousel">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col">
                  <div class="ratio ratio-16x9 videos">
                    <div class="video-overlay"></div>
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdkgBlOt8m0?wmode=opaque&rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <%# <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col">
                  <div class="ratio ratio-16x9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5gye-iq_Qm8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col">
                  <div class="ratio ratio-16x9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6CMVBKgJfH0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div> %>
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col">
                  <div class="ratio ratio-16x9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nzYfXuJIXsY" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>