<div class="video-wrapper" id="videos">
  <div class="container-fluid">
    <div class="row">
      <div class="video-title">
        <h2 data-aos="flip-left" data-aos-duration="2000">In Action</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="video-container">
          <div class="video-carousel">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="embed-responsive embed-responsive-16by9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdkgBlOt8m0?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="embed-responsive embed-responsive-16by9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdkgBlOt8m0?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="embed-responsive embed-responsive-16by9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdkgBlOt8m0?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="embed-responsive embed-responsive-16by9 videos">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WdkgBlOt8m0?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
