<%= render 'shared/navbar2' %>
<div class="blogs-wrapper">
  <div class="blogs-title">
    <h1>My Posts</h1>
  </div>
  <div class="blog-wrapper">
    <div class="blogs-main">
      <%= render 'shared/blogs' %>
    </div>
  </div>
</div>
