<%= render 'shared/banner' %>

<div id="about"></div>

<div class="description-wrapper">
 <div class="container-fluid">
  <div class="row">
    <div class="about-title">
      <h2 data-aos="flip-left" data-aos-duration="2000">Paul Craven</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div>
        <div class="sparks-content text-center">
         <p data-aos="flip-up" data-aos-duration="2000">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis deleniti sed, facere soluta! Enim itaque perspiciatis nostrum ipsam, ipsa repudiandae eligendi porro, quisquam inventore ipsum repellendus nemo quia eveniet at.</p>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>

