<p>You have been contacted by #{@message.name}</p>
<p>Contact details:</p>
<h4>Date: <%= @message.date %></h4>
<h4>Event details: <%= @message.body %></h4>

<p>The contact details:</p>
<h4>Phone number: <%= @message.phone_number %></h4>
<h4>Email: <%= @message.email %></h4>


<p>please check all the above details and send an email to paul@paulcraven.com if there are any changes.</p>
