@media (max-width: 1080px) {
  .banner {
    background-size: cover;
  }
  .head-test {
    width: 100%;
  }
  .about-title {
    width: 100%;
    padding: 0px 30px;
  }
  .talk-content {
    width: 100%;
    padding: 0px 30px;
  }
  .talk-photo {
    width: 90%;
  }
  .clients-container {
    flex-direction: row;
  }
  .client-layers {
    flex-direction: column;
    height: 600px;
  }
}

@media (max-width: 840px) {
  .banner {
    background-position: 20% 50%;
  }
  .talk-photo {
    width: 100%;
    height: 400px;
  }
  .banner p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .slick-dots {
    width: 50% !important;
    left: 25% !important;
  }
  .slick-next {
    right: 10% !important;
    top: 100% !important;
  }
  .slick-prev {
    left: 10% !important;
    top: 100% !important;
    z-index: 10;
  }
}


@media (max-width: 576px) {
  .banner {
    background-position: 30% 50%;
  }
  .banner-content {
    & h2 {
      font-size: 26px;
    }
    & h1 {
      font-size: 42px;
    }
  }
  .book-btn {
    padding: 10px 16px;
  }
  .navbar-sparks-brand {
    height: 80px;
  }
  .talk-tabs {
   flex-direction: column;
 }
 .talk-tab a {
  margin-top: 8px;
  width: 66vw;
}
.jastrow {
  height: 246px;
}
.sparks-content {
  flex-direction: column;
}
.bio {
  padding: 0px 20px;
}
}


@media (max-width: 463px) {
  .banner {
    background-position: 40% 50%;
  }
  .jastrow {
    height: 175px;
  }
  .banner-content {
    & h4 {
      font-size: 18px;
    }
    & h1 {
      font-size: 30px;
    }
  }
  .book-btn-green {
    font-size: 14px;
  }
  .book-btn {
    font-size: 14px;
  }
  .head-test {
    display: none;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .jastrow {
    height: 150px;
  }
}
