.talk-tabs {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
}

.talk-tab a {
  border: 1px solid $brand-primary !important;
  color: $brand-primary;
  border-radius: 0px !important;
  width: 170px;
  text-align: center;
}

.talk-tab a:focus {
  color: $brand-primary2 !important;
  border: 1px solid $brand-primary2 !important;
}

.talk-pane {

}

.talk-content {
  margin-top: 30px;
}

@media (max-width: 576px) {
  .talk-tabs {
   flex-direction: column;
 }
 .talk-tab a {
  margin-top: 8px;
  width: 66vw;
 }
}
