.video-wrapper {
  height: auto;
  background-color: #012147;
}

.video-title {
  text-align: center;
  color: #fff;
}

.videos {
display: block;
margin: 30px auto;
margin-bottom: 40px;
}

.slick-prev,
.slick-next {
  // left: 0px !important;
  // right: 0px !important;
  &:before {
    font-size: 38px !important;
    color: $brand-primary !important;
  }
}

#slick-slide-control00:before {
  content: "♣";
  font-size: 30px;
  color: $brand-primary;
}

#slick-slide-control01:before {
  content: "♦";
  font-size: 30px;
  color: $brand-primary;
}

#slick-slide-control02:before {
  content: "♥";
  font-size: 30px;
  color: $brand-primary;
}

#slick-slide-control04:before {
  content: "♠";
  font-size: 30px;
  color: $brand-primary;
}

.slick-dots li {
  height: 35px !important;
}
